<html>
  <head>
    <title>List: {{page.id}}</title>
    <script language="javascript">
      function submitDeleteUserForm(user_id) {
        document.getElementById("removed_user_id").value = user_id;
        document.getElementById("delete_user_form").submit();
      }
    </script>
  </head>
  <body>
    <dl>
      {{#each page.items}}
        <dt>{{name}}</dt>
        <dd>
          {{description}}
          <ul>
            {{#each link_annotations}}
            <a href="{{url}}">{{url}}</a>
            {{/each}}
          </ul>
        </dd>
        
      {{/each}}
    </dl>
    <form action="/add_list_item?user_id={{page.owner.id}}" method="post">
      Add item:<br/>
      <input type="hidden" name="list_id" value="{{page.id}}" />

      <input type="text" name="name" /><br/>
      <textarea name="description"></textarea></br>

      <input type="text" name="link" /><br/>

      <input type="submit" value="Add" />
    </form>
    <hr/>
    Who can see this list?
    <form action="/remove_list_user?user_id={{page.owner.id}}" method="post" id="delete_user_form">
      <input type="hidden" id="removed_user_id" name="removed_user_id" value="not-set" />
      <input type="hidden" name="list_id" value="{{page.id}}" />
    <ul>
      {{#each page.accessors}}
      <li>
          {{name}}
          [<a href="javascript:submitDeleteUserForm({{id}});">-</a>]
        </form>
      </li>
      {{/each}}
    </ul>
    <hr/>
    Add another user:
    <form action="/add_list_user?user_id={{page.owner.id}}" method="post">
      <input type="hidden" name="list_id" value="{{../id}}" />
      <select name="new_user_id">
        {{#each page.all_users}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
      <input type="submit" value="Add User" />
    </form>
  </body>
</html>
